<h1>New Blog!!</h1>
<form class="blog-form" action="/" method="post">
 <h5>Title</h5>
 <input type="text" name="blog[title]" placeholder="Enter your blog’s title…">
 <h5>Body</h5>
 <textarea name="blog[content]" rows="8" cols="80" placeholder="blog content"></textarea>
 <input type="submit" value="Post">
</form>